@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap');
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

h1 {
    font-size: 570%;
}

.links {
    font-size: 120%;
    font-family: Montserrat;
    padding-top: 15px;
    margin-right: 2%;
    padding-bottom: 0px;
}

a {
    color: #ACACAC;
}

a:hover {
    color: black;
    text-decoration: underline;
}

#main_p {
    position: absolute;
}

#bluesq_p {
    position: absolute;
}

#shadow_p {
    position: absolute;
}

#pinksq_p {
    position: absolute;
}

img.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.section {
    max-width: 80%;
    max-height: 15%;
    margin: 50px auto;
    padding-top: 10px;
    padding-left: 60px;
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}