#portrait{
    /*max-width: 100%;*/
    position: relative;
    height:600px;
    width:650px;
}

h1{
    font-size: 570%;
}
#main_p{
    position: absolute;
}

#bluesq_p {
    position: absolute;
}

#shadow_p{
    position: absolute;
}

#pinksq_p{
    position: absolute;
}



