.portrait{
    /*max-width: 100%;*/
    /*position: relative;*/
    width: 600px;
    height: 650px;
    /*
    height:600px;
    width:650px;*/
}

h1{
    font-size: 570%;
}
#main_p{
    position: absolute;
}

#bluesq_p {
    position: absolute;
}

#shadow_p{
    position: absolute;
}

#pinksq_p{
    position: absolute;
}

img.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.section{
    max-width: 80%;
    max-height: 15%;
    margin: 50px auto;
    padding-top: 10px;
    padding-left: 60px;
}



